.collection-item{
    width: 100%;
    position: relative;
    @media only screen and (min-width : 768px) {
        width: calc((100% / 4) - 1.1rem);
    }
    .image{
        width: 100%;
        padding-top: 120%;
        background-size: cover;
    }
    .collection-footer{
        padding-top: .5rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .custom-button{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .8;
    }
    &:hover{
        .image{
            opacity: .8;
        }
        .custom-button{
            display: block;
        }
    }
}