.header{
    @media only screen and (min-width : 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    text-align: center;
    padding: 1rem 0;
    .logo-container{
        display: block;
        padding: 1rem 1rem 1rem 0;
        .logo{
        }
    }
    .options{
        display: flex;
        justify-content: flex-end;
        .option{
            display: block;
            padding: .5rem;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            :active,:visited{
                color: inherit;
            }
        }
    }
}